@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 1000px;
  max-width: 100%;
}

header {
  background-image: url("./images/banner.jpg");
  background-size: cover;
  background-position: center center;
  height: 300px;
  margin-bottom: 2rem;
}

nav {
  display: flex;
  font-weight: bold;
  align-items: center;
  margin: 3rem 0 2rem;
}

.logo {
  font-size: 3rem;
  margin-right: 1rem;
}
